@tailwind base;
@tailwind components;
@tailwind utilities;


.root-bg {

    background-image: url(falloutbg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}

.gear-bg {

    background-image: url(gear.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100%;
}